<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <div class="container col-12 ">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand head" href="#">Shapely
                    Demo</a></div>
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-mine" href="#">Home</a>
                <a class="navbar-mine" href="https://colorlibhub.com/shapely/blog/">Blog</a>
                <a class="navbar-mine" href="https://colorlibhub.com/shapely/portfolio/">Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-mine dropdown-toggle" href="https://colorlibhub.com/shapely/about" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About The Tests
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/about/page-image-alignment" target="_blank"> Page Image Alignment</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/about/page-markup-and-formatting" target="_blank">Page Markup and Formatting</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/about/clearing-floats" target="_blank">Clearing Floats</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/about/page-with-comments" target="_blank">Page With Comments</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/about/page-with-comments-disabled" target="_blank">Page With Comments Disabled</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-mine dropdown-toggle" href="https://colorlibhub.com/shapely/level-1" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Levels
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/level-1/" target="_blank">Level 1</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/level-1/level-2/" target="_blank">Level 2</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/level-1/level-2a/" target="_blank">Level 2A</a></li>
                            <li><a class="dropdown-item" href="https://colorlibhub.com/shapely/level-1/level-2b/" target="_blank">Level 2B</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="navbar-mine" href="https://colorlibhub.com/shapely/shop/">Shop</a>
                <a class="navbar-mine" href="https://www.google.com/"><i class="bi bi-search"></i></a>

            </div>
        </div>
    </nav>
    <div class="page1 ">
        <h1>We Change Everything <br> WordPress</h1>
        <p>This is the only WordPress theme you will ever want to use.</p>
        <a href="#"><button class="button1">READ MORE </button></a>
        <a href="https://wordpress.org/themes/shapely/"><button class="button2">DOWNLOAD NOW</button></a>

    </div>


    <div class="page2 d-flex text-center align-items-center justify-content-center">

        <div class="pic1"></div>

        <div class="text1 ">
            <h2>SEO Friendly</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci.
                Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et
                interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.</p>
            <a href="#"><button class="button2">READ MORE</button></a>
        </div>
    </div>

    <div class="page3 d-flex text-center align-items-center justify-content-center">
        <div class="text2">
            <h2>Portfolio Section</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci.
                Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et
                interdum.</p>
            <a href="#"><button class="button2">SEE IT IN ACTION</button></a>
        </div>
        <div class="pic2"></div>
    </div>
    <div class="page4">
        <h1>Small Parallax Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet rhoncus porta. Ut quis sem quis
            purus lobortis dictum. <br> Aliquam nec dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt leo
            ornare
            quis.</p>
        <a href="#"><button class="button2">MORE INFO</button></a>
    </div>
    <div class="page5">
        <div class="top">
            <h2>Limitless Options</h2>
            <p>Phasellus sed nisi ac dui interdum semper. Etiam consequat fermentum sollicitudin. Fusce vulputate porta
                faucibus. Vivamus nulla tellus, <br> accumsan non efficitur id, pretium quis ante</p>
            <a href="#"><button class="button1">DOWNLOAD NOW</button></a>
        </div>
        <div class="bottom"> </div>
    </div>
    <br>
    <div class="page6 vh-110 text-center">
        <div class="row0">
            <h3>Our Latest Projects</h3>
            <p>Here is our latest projects. You'll love them!</p>
        </div>

        <div class="row1 d-flex">
            <div class="project div1">
                <h2 class="hha">Project #1</h2>
            </div>
            <div class="project div2">
                <h2>Project #2</h2>
            </div>
            <div class="project div3">
                <h2>Project #3</h2>
            </div>
            <div class="project div4">
                <h2>Project #4</h2>
            </div>
        </div>


        <div class="row2 d-flex">
            <div class="project div5">
                <h2>Project #5</h2>
            </div>
            <div class="project div6">
                <h2>Project #6</h2>
            </div>
            <div class="project div7">
                <h2>Project #7</h2>
            </div>
            <div class="project div8">
                <h2>Project #8</h2>
            </div>
        </div>

        <div class="row3 d-flex">
            <div class="project div9">
                <h2>Project #9</h2>
            </div>
            <div class="project div10">
                <h2>Project #10</h2>
            </div>
            <div class="project div11">
                <h2>Project #11</h2>
            </div>
            <div class="project div12">
                <h2>Project #12</h2>
            </div>
        </div>
    </div>


    <div class="page7">
       <div class="row4 d-flex text-center align-items-center justify-content-center vw-100">
        <div class="icon1 vw-10 vh-30"><a href="#one" class="link1"><i class="bi bi-chevron-compact-left"></i></a></div>
        <div class="icon2 vw-80 vh-30"><h2>What Our Customers Say? </h2></div> 
        <div class="icon3 vw-10 vh-30"><a href="#two" class="link2"><i class="bi bi-chevron-compact-right"></i></a></div>
        </div> <br>
       <div class="row5  ">
                <div id="one" class="first d-flex text-center align-items-center justify-content-center vw-100">
                    <div class="image1 vw-40 col-md-1"></div>
                   <div class="p1 vw-60"><p >Integer ut rutrum nulla, sit amet fringilla nisi. Nam nisl velit, vehicula at nibh sed, <br>
                    porttitor sollicitudin ante. Sed justo  augue, vestibulum ut efficitur vitae, euismod et  <br>
                    justo. Mauris  sed  mattis ante. Ut ligula lectus, consequat vitae neque ac, gravida  <br> 
                    gravida hendrerit ante.</p></div>
                </div>  
                <br>
               <div id="two" class="second d-flex text-center align-items-center justify-content-center">
                <div class="image2"></div>
                  <div class="p2"><p>Nunc sit amet lobortis nulla. Nunc ullamcorper, mi id luctus <br>
                     augue tortor dictum ipsum, nec congue arcu lorem in nisl. Duis neque lacus, <br> 
                     dictum, viverra non mauris ac, pharetra rhoncus libero. Aliquam varius viverra <br>
                     ex, in venenatis magna ornare sit amet. Integer varius sit amet turpis eu ullamcorper.</p></div>
               </div>
               </div>
            </div>
  
            <div class="page8">
                <div class="row6 text-center "><h2>Our Main Clients</h2></div> <br>
                <div class="row7 ">
                    <div class="row7one d-flex text-center align-items-center justify-content-around">
                    <div class="app div13"></div>
                    <div class="app div14"></div>
                    <div class="app div15"></div>
                    <div class="app div16"></div>
                    </div> <br>
                    <div class="row7two d-flex text-center align-items-center justify-content-around">
                    <div class="app div17"></div>
                    <div class="app div18"></div>
                    <div class="app div19"></div>
                    <div class="app div20"></div>
                    </div>
                    </div>
 <div class="page9 d-flex justify-content-evenly">
     <div class="writing"><h2>Do you like this awesome WordPress theme?</h2></div>
      <div class="link"><a href=""><button class="button2">DOWNLOAD NOW</button></a></div>
 </div>

 <div class="page10 d-flex text-center align-items-center justify-content-center">
     <div class="sol"> <h5>Theme by <a href="https://colorlib.com/">Colorlib </a> Powered by  <a href="https://wordpress.org/">WordPress</a> </h5> </div>
 
 <div class="sag justify-content-center">
     <div class="son"><a href="https://www.facebook.com/colorlib" target="_blank"><i class="bi bi-facebook"></i></a></i></div>
     <div class="son"><a href="https://twitter.com/colorlib" target="_blank"><i class="bi bi-twitter"></i></a></div>
     <div class="son"><a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a></i></div>
     <div class="son"><a href="https://www.youtube.com/c/Colorlib" target="_blank"><i class="bi bi-youtube"></i></a></i></div>
     <div class="son"><a href="https://www.instagram.com/colorlib" target="_blank"><i class="bi bi-instagram"></i></a></i></div>
 </div>
</div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</body>

</html>